/*****************************************************/
/*BELOW 944px (Tablets)/*
/*****************************************************/
@media (max-width: 59em) {
  .main-section {
    grid-template-columns: 1fr;
    margin: 10rem 5rem;
  }
}

/*****************************************************/
/*BELOW 704px (Tablets)/*
/*****************************************************/
@media (max-width: 44em) {
  body {
    height: 100%;
  }
}

/*****************************************************/
/*BELOW 544px ( phones)/*
/*****************************************************/
@media (max-width: 34em) {
  body {
    height: 100%;
  }
}
